@using X.PagedList.Mvc.Core
@model ControleFinanceiro.Servicos.ViewModel.PaginacaoViewModel
@{
    ViewData["Title"] = "Home Page";
    decimal totalDespesa = 0;
}

<div class="card card-custom">
    <div class="card-header card-header-custom">
        <h3 class="card-title">
            Despesa
        </h3>
        <div class="card-adicionar">
            <a data-target="#createModal" data-toggle="tooltip" data-placement="top" data-original-title="Nova Despesa" data-url="@Url.Action("AdicionarDespesa", "Despesa")" class="icone-adicionar botaoMostrarModal">
                <i class="bi bi-plus-square-fill"></i>
                Adicionar
            </a>
        </div>
    </div>

    <div class="card-body">
        <div class="tabela">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            @Html.DisplayName("Descrição")
                        </th>
                        <th scope="col">
                            @Html.DisplayName("Data da despesa")
                        </th>
                        <th scope="col">
                            @Html.DisplayName("Valor")
                        </th>
                        <th scope="col">
                            @Html.DisplayName("Ações")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var despesa in Model.Despesas)
                    {
                        <tr>
                            <td scope="row">@despesa.Descricao</td>
                            <td>@despesa.CreatedAt</td>
                            <td>R$ @despesa.Valor</td>
                            <td>
                                <a data-target="#consultarModal_@despesa.Id" data-toggle="tooltip" data-placement="top"
                                data-original-title="Consultar Despesa" data-url="@Url.Action("ObterDespesaPorId","Despesa",
                                new {id = despesa.Id})" class="icones-tabela botaoMostrarModal">
                                    <i class="bi bi-eye"></i>
                                </a>
                                @await Html.PartialAsync("_ConsultarDespesa", despesa)

                                <a data-target="#editarModal_@despesa.Id" data-toggle="tooltip" data-placement="top"
                               data-original-title="Editar Despesa" data-url="@Url.Action("AdicionarDespesa, Despesa",
                               new{id = despesa.Id})" class="icones-tabela botaoMostrarModal">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                @await Html.PartialAsync("_EditarDespesa", despesa)

                                <a data-target="#deletarModal_@despesa.Id" data-toggle="tooltip" data-placement="top"
                               data-original-title="Editar Despesa" data-url="@Url.Action("StatusDeletado", "Despesa",
                               new{id = despesa.Id})" class="icones-tabela botaoMostrarModal">
                                    <i class="bi bi-trash"></i>
                                </a>
                                @await Html.PartialAsync("_StatusDeletado", despesa)
                            </td>
                        </tr>
                        totalDespesa = Model.TotalDespesa;
                    }
                    <tr>
                        <td colspan="2" class="text-right"><strong>Total de despesas:</strong></td>
                        <td><strong>R$ @totalDespesa</strong></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Controles de paginação -->
        <div class="d-flex justify-content-end">
            @Html.PagedListPager(Model.Despesas, page => Url.Action("ObterTodasDespesa", new { page }), new PagedListRenderOptions
            {
            UlElementClasses = new[] { "pagination" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            LinkToPreviousPageFormat = "Anterior",
            LinkToNextPageFormat = "Próximo",
            LinkToFirstPageFormat = "Primeiro",
            LinkToLastPageFormat = "Último",
            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded
            })
        </div>
    </div>
</div>
@await Html.PartialAsync("_AdicionarDespesa", new ControleFinanceiro.Servicos.EntidadeServico.DespesaVO())
